
.detail-container {
    height: 80vh;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: rgba(136, 136, 136, 0.774);
    justify-content: center;
    object-fit: contain;
}
.detail-container > h1{
    margin-left: 30px;
    color: Black;
    font-size: 40px;
    margin-bottom: 40px;
}
.detail{
    font-size: 50px;
    margin-bottom: 40px;
    margin-left: 30px;
}
table {
    width: 95%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
    margin-left: 30px;
  }
  tbody{
      margin-bottom: 40px;
  }
  th{
      font-size: 30px;
      font-style: oblique;
  }
  td {
    border-bottom: 1px solid #444444;
    padding: 15px;
    
  }
  .tables{
      font-size:20px;
  }

@media screen and (max-width : 960px){
    .detail-container{
        margin-top:100px;
    }
    .detail-container > h1{
        font-size: 40px;
        margin-top: -1500px;
    }
}

@media screen and (max-width: 768px){
    .detail-container{
        margin-top:100px;
    }
    .detail-container > h1{
        font-size: 40px;
        margin-top: -100px;
    }
    .detail-container >p {
        font-size: 20px;
    }
}
